.heading{
    float: left;
    width: 100%;
}
.btn1{
    float: right;
    border:1px solid white ;
}
.heading h3{
    display:inline ;
}
.instruction-image{
    display: inline-block;
    width: 45%;
}
h4{
    background-color: azure;
    line-height: 2;
    margin: 0px;
}
.div1{
    width: 90%;
}
canvas{
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: green;
}